<form autocomplete="off" #form="ngForm" >
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="jf__card_35">
        <p-panel header="Ocorrência">
          <div class="ui-g">
            <div class="ui-g-12">
              <app-jf-botoes #bts
                             (novo)="editar()"
                             (salvar)="salvar(form)"
                             (pesquisar)="pesquisar()"
                             (editar)="editar()"
                             (cancelar)="limpar(form)"
              ></app-jf-botoes>
            </div>
            <div class="ui-g-12">
              <label class="jf_blk">Nome</label>
              <input pInputText appUppercase name="nome" [(ngModel)]="ocorrencia.nome"
                     #nom
                     #nome="ngModel" [maxLength]="30" required
                     [disabled]="!edicao">
              <app-jf-valida-campo error="required" [control]="nome" text="Informe o Nome">
              </app-jf-valida-campo>
            </div>

            <div class="ui-g-12">
              <label class="jf_blk">Setor</label>
              <p-dropdown [options]="setores" [(ngModel)]="setorPai" optionLabel="nome" name="pai" [disabled]="!edicao"
                          (ngModelChange)="escolherSetor($event)"></p-dropdown>
            </div>
          </div>

          <app-jf-rodape [total]="total"></app-jf-rodape>

        </p-panel>
      </div>
    </div>
  </div>
</form>
